.class
.github


bin/
build/
target/
out/


.idea/
*.iml
.vscode/
.eclipse/
.settings/
.classpath
.project


.DS_Store
Thumbs.db


*.log

/shelf/
/workspace.xml

/queries/

/dataSources/
/dataSources.local.xml

/httpRequests/

.idea